<%- include('../../assets/head.ejs') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css">

<div class="container-fluid">
    <div class="row">

        <div class="col-md-2">
            <%- include('../../assets/sidebar.ejs') %>
        </div>

        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8 offset-md-2">

                    <div class="card card-body my-5">

                    <h4><%= title %> </h4>

                    <div class="profile-pic">
                        <img src="<%= user.profilePics %> " alt="profile-pic" class="img-thumbnail img-fluid" id="profilePics">
                    <form action="/uploads/profilePics" method="post" class="my-3" id="profilePicsForm">
                    <input type="file" name="profilePics" id="profilePicsFile" accept="image/*">
                    <input type="button" value="Remove Pics" class="btn btn-danger btn-sm my-2" id="removeProfilePics" style="display:<%= user.profilePics.includes('dp.png')?'none':'block' %>;">
                    </form>
                    </div>

                    <div>
                        <form action="/dashboard/edit-profile" method="POST">
                            <div class="form-group">
                                <label for="name">Enter Your Name</label>
                                <input 
                                    type="text" 
                                    class="form-control <%= error.name?'is-invalid':'' %> " 
                                    name="name" 
                                    placeholder="Enter Your Name"
                                    value="<%= profile.name %> "
                                    id="name">
                                    <small class="invalid-feedback">
                                        <%= error.name %> 
                                    </small>                                
                            </div>
                            <div class="form-group">
                                <label for="email">Enter Your Email</label>
                                <input type="email" class="form-control" name="email" placeholder="Enter Your Email"
                                    id="email" value="<%= user.email %>" disabled>
                            </div>
                            <div class="form-group">
                                <label for="title">Enter A Short Title</label>
                                <input 
                                    type="text" 
                                    class="form-control <%= error.title?'is-invalid':'' %>" 
                                    name="title"
                                    placeholder="Enter A Short Title" 
                                    value="<%= profile.title %> "
                                    id="title">
                                    <small class="invalid-feedback">
                                        <%= error.title %> 
                                    </small>
                            </div>
                            <div class="form-group">
                                <label for="bio">Enter A Short Bio</label>
                                <textarea 
                                    name="bio" 
                                    id="bio" 
                                    class="form-control <%= error.bio?'is-invalid':'' %>"><%= profile.bio %></textarea>
                                    <small class="invalid-feedback">
                                        <%= error.bio %> 
                                    </small>  
                            </div>
                            <div>
                                <p class="lead"> Your Social Links</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fab fa-internet-explorer"></i>
                                        </span>
                                    </div>
                                    <input 
                                        type="text" 
                                        class="form-control <%= error.website?'is-invalid':'' %>" 
                                        placeholder="Website Link"
                                        value="<%= profile.links.website %>"
                                        name="website">
                                        <small class="invalid-feedback">
                                            <%= error.website %> 
                                        </small>   
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fab fa-facebook-square"></i>
                                        </span>
                                    </div>
                                    <input 
                                        type="text" 
                                        class="form-control <%= error.facebook?'is-invalid':'' %>" 
                                        placeholder="Facebook Link"
                                        value="<%= profile.links.facebook %>"
                                        name="facebook">
                                        <small class="invalid-feedback">
                                            <%= error.facebook %> 
                                        </small>  
                                    
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fab fa-twitter-square"></i>
                                        </span>
                                    </div>
                                    <input 
                                        type="text" 
                                        class="form-control <%= error.twitter?'is-invalid':'' %>" 
                                        placeholder="Twitter Link"
                                        value="<%= profile.links.twitter %>"
                                        name="twitter">
                                        <small class="invalid-feedback">
                                            <%= error.twitter %> 
                                        </small>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fab fa-github-square"></i>
                                        </span>
                                    </div>
                                    <input 
                                        type="text" 
                                        class="form-control <%= error.github?'is-invalid':'' %>" 
                                        placeholder="Github Link" 
                                        value="<%= profile.links.github %>"
                                        name="github">
                                        <small class="invalid-feedback">
                                            <%= error.github %> 
                                        </small>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Update Profile">
                        </form>
                    </div>

                </div>
            </div>
            </div>
        </div>



        <div class="modal fade bd-example-modal-lg" id="crop-modal" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Resize Your Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="cropped-image"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancel-cropping">Cancel</button>
                    <button type="button" id="upload-image" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </div>
    </div>


    </div>
</div>

<%- include('../../assets/footer.ejs') %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.js"></script>
<script src="/scripts/profilePic.js"></script>
</body>

</html>